{% if menu %}
    <nav class="nav-footer">
        <ul class="navigation-ul nav-footer-ul">
            {% for item in menu %}
                <li class="nav-main-item {{ item.classes | join(' ') }}">
                    <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.get_children %}
                        <ul class="nav-drop">
                            {% for item in item.get_children %}
                                <li class="nav-drop-item {{ item.classes | join(' ') }}">
                                    <a class="nav-drop-link" href="{{ item.link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
