{% extends "base.twig" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <article {{ function('post_class') }} id="post-{{ post.ID }}">
                        <header>
                            <img src="{{ post.thumbnail.src|resize(1200, 300) }}" class="img-fluid">
                            <h1 class="entry-title">{{ post.title }}</h1>
                            {% include "blocks/entry-meta.twig" %}
                        </header>
                        <div class="entry-content">
                            {{ post.content }}
                        </div>
                        <footer>
                            {#{{ wp_link_pages }}#}
                            {#{% include "blocks/comment.twig" %}#}
                            {#{% include "blocks/comment-form.twig" %}#}
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    {% include 'blocks/related-posts.twig' %}
{% endblock %}
