{% if item and item.left_col_classes and item.right_col_classes %}
    <div class="block page-builder page-builder--image-w-caption-layout">
        <div class="container">
            <div class="row">
                <div class="{{ item.left_col_classes | join(' ') }}">
                    {% if item.image|length > 0 %}
                        <div class="page-builder--image-w-caption_image--wrapper">
                            <div class="{{ item.image_classes | join(' ') }}" style="background-image: url({{ item.image }});"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="{{ item.right_col_classes | join(' ') }}">
                    {% if item.caption|length > 0 %}
                        <div class="{{ item.caption_wrapper_classes | join(' ') }}">
                            {{ item.caption }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}