{% if fields.banner_image|length > 0 %}
    {% if fields.banner_width == 'full-width' %}
        <div class="page-builder page-builder-banner--block full-width block {{ block.className }}">
            <div class="pb--banner background-image" style="background-image: url({{ TimberImage(fields.banner_image).src }});"></div>
        </div>
    {% elseif fields.banner_width == 'standard' %}
        <div class="block page-builder page-builder-banner--block standard {{ block.className }}">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <div class="pb--banner background-image" style="background-image: url({{ TimberImage(fields.banner_image).src }});"></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="block page-builder page-builder-banner--block standard {{ block.className }}">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <div class="pb--banner background-image" style="background-image: url({{ TimberImage(fields.banner_image).src }});"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}