{% if options.social_media|length > 0 %}
    <ul class="social-media">
        {% for item in options.social_media %}
            {% if item.social_media_type == 'social' %}
                <li class="social-media--item no-dot">
                    <a href="{{ item.social_media_link }}" class="social-media--link" target="_blank">
                        {{ item.social_media_icon }}
                    </a>
                </li>
            {% else %}
                {% if item.social_media_type == 'email' %}
                    <li class="social-media--item no-dot">
                        <a href="mailto:{{ item.social_media_special_link }}" class="social-media--link" target="_blank">
                            {{ item.social_media_icon }}
                        </a>
                    </li>
                {% endif %}

                {% if item.social_media_type == 'phone' %}
                    <li class="social-media--item no-dot">
                        <a href="tel:{{ item.social_media_special_link }}" class="social-media--link" target="_blank">
                            {{ item.social_media_icon }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}