<!doctype html>
<html {{ function('language_attributes') }} class="loading">
    {% include 'blocks/head.twig' %}
    <body {{ function('body_class') }}>
        {% if options.body_scripts|length > 0 %}
            {{ options.body_scripts }}
        {% endif %}
        <div class="wrap" role="document">
            <div class="content">
                <main class="main p-0">
                    {% include 'navigation_layouts/nav-mobile.twig' with { menu: menus.primary_menu.get_items } %}
                    <div class="site--wrapper">
                        {% include 'blocks/header.twig' %}
                        {% block content %}{% endblock %}
                        {% if page_builder|length > 0 %}
                            {% include "templates/layouts/page-builder.twig" with { page_builder : page_builder } %}
                        {% endif %}
                        {% block footer %}
                            {% include 'blocks/footer.twig' %}
                            {% if options.footer_scripts|length > 0 %}
                                {{ options.footer_scripts }}
                            {% endif %}
                            {{ function('wp_footer') }}
                        {% endblock %}
                    </div>
                </main>
                {#{% include 'blocks/sidebar.twig' %}#}
            </div>
        </div>
    </body>
</html>